body{
    font-family: 'Kosugi Maru', sans-serif;
}
.text-main{
    color:#ff80ab;
}
.bg-main{
    background-color: #ff80ab;
}

.text-sub{
    color:#76ff03;
}
.bg-sub{
    background-color: #76ff03;
}